{%extends 'base.html'%}

 {% block content %}

 <div class="container">
   <body style="background-color:#5B81A7">


   <div class="row">
     {% for business in businesses %}


     <div class="col-sm-4">
       <h1 class="text-center">{{business.neighborhood.name}}</h1>

          <img src="{{business.business_image.url}}"  class="img-responsive" alt="">
        <p>  {{business.business_name}}</p>
        <p>  {{business.email}}</p>

       </div>
     {% endfor %}
   </div>
 </body>
 </div>
  {% endblock %}
